/* .main_div {
  text-align: center;
  font-size: 40px;
  height: auto;
}
.center_div {
  background-color: #a29bfe;
  border-radius: black;
  border-width: 50px;
  border-color: #282c34;
  height: 100vh;
} */
/* input {
  border-radius: 20px;
  width: 500px;
  text-align: center;
  height: 40px;
  border: solid white;
} */
/* button {
  width: 40px;
  height: 45px;
  border-radius: 20px;
  border: solid white;
}
button:hover {
  background-color: #2ecc71; */
/* } */

/* .inputandsubmit {
  display: flex;
  justify-content: center;
} */
/* h1 {
  color: white;

  border-radius: 20px;
}
.taskalign {
  justify-content: center;
} */
